<div *ngIf="(loaderService.loading$ | async) == false" class="grid">

    <div *ngFor="let recipe of recipes;let i=index" class="card">

        <div class="card-image" (click)="seeRecipe(recipe.id)">
            <img [src]="recipe.imagen || '../../assets/images/default.png'" max-width='50%'>
            <span class="card-title"> {{ recipe.name }}</span>
        </div>
        <div class="card-content" (click)="seeRecipe(recipe.id)">

            <div class="title-icon row">
                <div class="col-4 h5">
                    <i class="material-icons center">accessibility</i>
                </div>
                <div class="col-4 h5">
                    <i class="material-icons center">av_timer</i>
                </div>
                <div class="col-4 h5">
                    <i class="material-icons center">access_time</i>
                </div>
            </div>

            <div class="title-text row" (click)="seeRecipe(recipe.id)">
                <div class="col-4">{{ recipe.amount }}</div>
                <div class="col-4">{{ recipe.preparation }}</div>
                <div class="col-4">{{ recipe.total }}</div>
            </div>

        </div>
        <div class="card-action">

            <button class="btn waves-effect waves-light  right" type="button" (click)="deleteRecipe(recipe.id)">
                <i class="material-icons">delete</i>
            </button>
            <button class="btn waves-effect waves-light  right" type="button" (click)="editRecipe(recipe.id)">
                <i class="material-icons">edit</i>
            </button>
        </div>


    </div>
    <div *ngIf="recipes == null">
        Lo sentimos, no se han encontrado recetas
    </div>


</div>