
<div class="container" *ngFor="let recipe of recipes">
 
  <div class="row justify-content-center h4">
      {{ recipe.name }}
  </div>
  <div class="row header">
      <div class="col-3 h5">Nº Comensales</div>
      <div class="col-3 h5">Tiempo preparacion</div>
      <div class="col-3 h5">Tiempo total</div>
  </div>
  <div class="row">
      <div class="col-4">{{ recipe.amount }}</div>
      <div class="col-4">{{ recipe.preparation }}</div>
      <div class="col-4">{{ recipe.total }}</div>

      <tr *ngFor="let data of recipe.ingredients;let i = index">
        <td>{{data.name}}</td>
        <td>{{data.amount}}</td>
    </tr>
    <a [routerLink]="['recipe',recipe.id]">

      <button class="btn btn-info" type="button">Ver receta</button></a>
      <button class="btn btn-secondary" type="button" (click)="deleteRecipe(recipe.id)" >Borrar</button>
  </div>
  
</div>
