<p>¿No sabes qué cocinar hoy?, ¡¡Deja que te ayude!!</p>

<p>Tags más frecuentes</p>


<div class="row">
    <button type="button" class="btn waves-effect waves-light btn-small" (click)="buscarTag('verduras')">Verduras</button>
    <button type="button" class="btn waves-effect waves-light btn-small" (click)="buscarTag('pescado')">Pescado</button>
    <button type="button" class="btn waves-effect waves-light btn-small" (click)="buscarTag('cena')">Cena</button>

</div>
<div *ngIf="(loaderService.loading$ | async) == false" class="grid">

    <div *ngFor="let recipe of recipes;let i=index" class="card">

        <div class="card-image" (click)="seeRecipe(recipe.id)">
            <img [src]="recipe.imagen || '../../assets/images/default.png'" max-width='50%'>
            <span class="card-title"> {{ recipe.name }}</span>
        </div>
    </div>
</div>
<div *ngIf="recipes == null">
    Lo sentimos, no se han encontrado recetas con ese tag
</div>