<form [formGroup]="addRecipeForm" (ngSubmit)="saveRecipe(addRecipeForm)" class="col s12">
    <div class="row">
        <div class="input-field col s6">
            <input formControlName="nombre" id="nombre" placeholder="Título de la receta" type="text" class="validate">
        </div>
        <!--  <div *ngIf="addRecipeForm.hasError('required', 'nombre')" class="error col s6">
                El nombre es obligatorio.
            </div>-->
        <div class="col s6">
            <input class="waves-effect waves-light btn" name="imageSelector" #inputImageSelector value="Imagen" type="file" />
        </div>
    </div>


    <div class="row">
        <div class="col s4">
            <label for="comensales">Raciones</label>
            <input formControlName="comensales" placeholder="" type="number">
        </div>
        <div class="col s4">
            <label for="preparation">Tiempo preparacion</label>
            <input formControlName="preparation" placeholder="minutos" type="number">
        </div>
        <div class="col s4">
            <label for="totalTime">Tiempo Total</label>
            <input formControlName="total" placeholder="minutos" type="number">
        </div>
    </div>

    <div class="row">
        <label for='ingredients' class="col s12">Añadir ingredientes</label>
    </div>
    <div class="row">
        <input class='col s4' formControlName="ingrediente" placeholder="Ingrediente">
        <input class='col s4' type="number" formControlName="cantidad" placeholder="gramos">
        <table class="col s4" >
            <tr *ngFor="let data of lista;let i = index">
                <td>{{data.ingrediente}}</td>
                <td>{{data.cantidad}}</td>
                <td><a class="btn-small" (click)="deleteIngredient(i)"><i class="material-icons left">delete</i></a></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <button type="button" class="btn waves-effect waves-light btn-small" (click)="anadirIngrediente()">Añadir</button>
    </div>
    <div class="row">
        <button type="submit" [disabled]="addRecipeForm.valid" class="btn waves-effect waves-light col s6">Guardar
        </button>

    </div>
</form>