<div class="container">
<form [formGroup]="addRecipeForm" (ngSubmit)="saveRecipe(addRecipeForm)">
    <div class="row">
        <input formControlName="nombre" placeholder="Nombre de la receta">
        <p>Your choosen name: {{ addRecipeForm.get('nombre').value }}</p>

        <div *ngIf="addRecipeForm.controls.nombre.errors.required">
                Oops, introduce un nombre!
              </div>
    <!--<input name="name"
          #inputName
          value="Nombre de la receta"
          (change)="recipe.name=inputName.value"
          (click)="inputName.value=''"
          type="text" />-->
    </div>
    <div class="row">
            <input name="imageSelector"
            #inputImageSelector
            value="Imagen"
            type="file" />

    </div>
    <div class="row">
            <div class="col-4">
    <label for="comensales">Comensales</label>

    <input formControlName="comensales" placeholder="Comensales" type="number">
    <!--<input name="comensales"
          [(ngModel)]="recipe.amount"
          type="number"/>-->
        </div>
          <div class="col-4">
    <label for="preparation">Tiempo preparacion</label>
    <input formControlName="preparation" placeholder="minutos" type="number">

   <!-- <input name="preparingTime"
        [(ngModel)]="recipe.preparation"
                type="number"/> min-->
            </div>
                <div class="col-4">
    <label for="totalTime">Tiempo Total</label>
    <input formControlName="totalTime" placeholder="minutos" type="number">

   <!-- <input name="totalTime"
        [(ngModel)]="recipe.total"
        type="number"/> min-->
    </div>
    </div>
    <div class="row">
    <label for="ingredients">Ingredientes (separados por comas)</label>
</div>
    <div class="row">
            <input formControlName="ingredients" placeholder="Ingredientes">

        <!--<input name="ingredients"
            [(ngModel)]="recipe.ingredients"
            type="text"/>-->
            </div>
            <div class="row">
    <button type="submit">Guardar</button>
    </div>
  </form>
</div>