<form [formGroup]="addRecipeForm" (ngSubmit)="saveRecipe(addRecipeForm)" class="col s12">
    <div class="row">
        <div class="input-field col s6">
            <input formControlName="nombre" id="nombre" placeholder="Nombre" type="text" class="validate">
        </div>
        <!--  <div *ngIf="addRecipeForm.hasError('required', 'nombre')" class="error col s6">
                El nombre es obligatorio.
            </div>-->
        <div class="col s6">
            <input name="imageSelector" #inputImageSelector value="Imagen" type="file" />
        </div>
    </div>

 
    <div class="row">
        <div class="col s4">
            <label for="comensales">Raciones</label>
            <input formControlName="comensales" placeholder="" type="number">
        </div>
        <div class="col s4">
            <label for="preparation">Tiempo preparacion</label>
            <input formControlName="preparation" placeholder="minutos" type="number">
        </div>
        <div class="col s4">
            <label for="totalTime">Tiempo Total</label>
            <input formControlName="totalTime" placeholder="minutos" type="number">
        </div>
    </div>

    <div class="row">
        <label for='ingredients' class="col s12">Añadir ingredientes</label>
    </div>
    <div class="row">
        <input class='col s4' formControlName="ingredients" placeholder="Ingredientes">
        <input class='col s4' formControlName="cantidad" placeholder="gramos">
        <a class="waves-effect waves-light btn col s4">Añadir</a>
    </div>
    <div class="row">
        <button type="submit" [disabled]="addRecipeForm.valid" class="btn waves-effect waves-light col s12">Guardar
        </button>

    </div>
</form>