
<div class="container" *ngFor="let recipe of recipes">
 
  <div class="row justify-content-center h4">
      {{ recipe.name }}
  </div>
  <div class="row header">
      <div class="col-3 h5">Nº Comensales</div>
      <div class="col-3 h5">Tiempo preparacion</div>
      <div class="col-3 h5">Tiempo total</div>
  </div>
  <div class="row">
      <div class="col-3">{{ recipe.comensales }}</div>
      <div class="col-3">{{ recipe.preparingTime }}</div>
      <div class="col-3">{{ recipe.totalTime }}</div>
      <button class="col-3"type="button">Ver receta</button>
  </div>
  
</div>
