<div class="container" *ngIf="(loaderService.loading$ | async) == false">

    <div class="row justify-content-center recipe-title">
        <p>{{recipe?.name }}</p>
    </div>
    <div class="title-icon row">
        <div class="col-4 h5">
            <i class="material-icons center">accessibility</i>
        </div>
        <div class="col-4 h5">
            <i class="material-icons center">av_timer</i>
        </div>
        <div class="col-4 h5">
            <i class="material-icons center">access_time</i>
        </div>

    </div>
    <div class="row title-icon">
        <div class="col-4 center">{{ recipe?.amount }}</div>
        <div class="col-4 center">{{ recipe?.preparation }}</div>
        <div class="col-4 center">{{ recipe?.total }}</div>
    </div>
    <div class="divider"></div>
    <div class="row recipe-subtitle">
        <a *ngFor="let tag of recipe?.tags;" class=" tags striped">
                #{{tag}}&nbsp;
        </a>
    </div>

    <div class="row recipe-subtitle">
        <div class="col-9">
            Ingredientes
        </div>


    </div>
    <div class="row">
        <div class="col-9 center">
            <table class="centered ingredientes striped">
                <tr *ngFor="let ingrediente of recipe?.ingredients;">
                    <td *ngIf="ingrediente.amount!=null;else elseBlock">{{ingrediente.amount}} gr de {{ingrediente.name}}</td>
                    <ng-template #elseBlock>
                        <td>{{ingrediente.name}}</td>
                    </ng-template>
                </tr>
            </table>
        </div>
        <div class="col-3">
            <img class="imagen" [src]="recipe?.imagen || '../../assets/images/default.png'">
        </div>

    </div>
    <div class="divider"></div>
    <div class="row  recipe-subtitle">Pasos</div>
    <div class="row">
        <table class=" ingredientes striped">
            <tr *ngFor="let paso of recipe?.pasos;index as i;">
                <td>{{i+1}}. {{paso | tmFormat}}</td>
            </tr>
        </table>
    </div>
    <button class="btn btn-secondary" type="button" (click)="deleteRecipe(recipe.id)">Borrar</button>
    <button class="btn btn-secondary" type="button" (click)="addPlanner(recipe.id)">Añadir al planificador</button>

</div>